@import url(./variables.css);

button {
	border: none;
}

.App {
	background-color: var(--content_background_color);
	display: flex;
	height: 100vh;
	width: auto;
}

.content {
	height: 100%;
	width: auto;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #acacac;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #949494;
}

.content_area {
	width: 100%;
	height: 100%;
	position: relative;
}

.toast_notify {
	animation-duration: 0;
	font-size: var(--font_s);
}
